/**BEGIN GENERAL CLASSES**/
.d-flex{
	display:flex;
}
.flex-column{
	flex-direction:column;
}
.flex-row{
	flex-direction:row;
}
/*centreren van children binnen de parent*/
.justify-content-end{
	justify-content:flex-end;
}
.justify-content-center{
	justify-content:center;
}
/*children centreren zichzelf tov de parent*/
.align-items-center{
	align-items:center;
}

.w-25{
	width:25%;
}
.w-50{
	width:50%;
}
.w-75{
	width:75%;
}

/**EINDE GENERAL CLASSES**/

/**BEGIN WEBSITE**/
body{
	width:1250px;
	font-size:15px;
	color:#909090;
	font-family: 'Open Sans', sans-serif;
	margin:0 auto;/*body centrering**/
	position:relative;
}

/*BEGIN NAVIGATIE*/
nav{
	height:90px;
	position: fixed;
    z-index: 5;
    width: 100%;
    background: #fff;
}
#navbar{
	list-style:none;
	padding:12px 100px 0px 0px;
}
#navbar li{
	padding-right:40px;
}
#navbar li a{
	text-decoration:none;
	color:#6c6c6c;
	font-size:20px;
	padding-bottom:20px;
}
#navbar li a:hover{
	border-bottom:5px solid #5094f2;
	color:#5094f2;
}
#brand{
	margin-left:140px;
}
#brand p{
	font-size:42px;
	color:#000;
	margin:0px;
}
#img-brand{
	height:44px;
	margin-right:15px;
}
/*EINDE NAVIGATIE*/
/*BEGIN MAIN CONTENT*/
main{
	position:absolute;
	top:0px;
	left:0px;
	z-index:0;
}

/*-BEGIN SECTION SLIDER-*/
#slider p{
	font-size:42px;
	color:#fff;
	line-height: 1;
	position:absolute;
	top:200px;
	left:630px;
}
#slider p span{
	font-size:26px;
	font-weight:300;
}
.btn{
	background:#5094f2;
	color:#fff;
	border: none;
    padding: 12px 16px;
    font-size: 22px;
    font-weight: 300;
    border-radius: 5px;
    cursor:pointer;
    position:absolute;
    top:400px;
    left:645px;
}
.btn:hover{
	background: DodgerBlue;
}
/*-EINDE SECTION SLIDER-*/

/**
SECTION LATEST PRODUCTS: BEGIN
**/
#latestproducts, #cart{
	width:1045px;
	margin:0 auto;
}
h1,h2{
	text-align:center;
	font-weight:300;
}
h2{
	color:#5094f2;
}
article{
	font-size:14px;
	padding:0px 55px;
}
article:first-child{
	padding-left:0px;
}
article:last-child{
	padding-right:0px;
}
article p{
	text-align:center;
	margin-top:0px;
}
/*article:nth-child(even){
	background:black;
}*/
#pencil, #pc,#basket{
	border-radius:50%;
}
#pencil{
	background:#5094f2;
}
#pc{
	background:#d94748;
}
#basket{
	background:#ebbb11;
}

/**
SECTION LATEST PRODUCTS: EINDE
**/
#cart{
	margin-bottom:40px;
}
#cart h2{
	color:#6c6c6c;
	font-size: 42px;
}
#cart img{
	width:371px;
	margin:0 auto;
}

#cart article header h3{
	font-size:22px;
	font-weight:400;
	margin-top:185px;
}
#cart article p{
	width: 75%;
    font-size: 15px;
    line-height: 1cm;
    text-align: left;
}

/*EINDE MAIN CONTENT*/
footer{
	  position: fixed;
    bottom: 0;
    background: #fff;
    width:1250px;
    border-top:1px solid #e5e5e5;
}